# **=> DATA TYPES**

# 1. String

**String is data type that stores a sequence of characters.**

Basic Operations : 
1. Concatenation : 
“hello” + “world” “helloworld”

2. length of str:
len(str)

3. Slicing: used to access parts of string                                                      
str[start index, end index]
str = “ApnaCollege”

str[ 1 : 4 ] is “pna”

str[ : 4 ] is same as str[ 0 : 4]

str[ 1 : ] is same as str[ 1 : len(str) ]                                                          
                                                                                
                                                                        
In case of neagtive index                                                                         
str = “Apple”

A p p l e                                                                                     
-5 -4 -3 -2 -1


str[ -3 : -1 ] is “pl”

**String functions**
1. a.endsWith("th")  #returns true if string ends with substr
2. a.capitalize()  #capitalizes 1st char
3. a.replace(old,new)  #replaces all occurrences of old with new
4. a.find(word )  #returns 1st index of 1st occurrence
5. a.coun("a")   #counts the occurrence of substr in string

# 2. Numeric Type

**Integer**

binary to decimal

In [6]:
a=10
b=0b1111
print(b)

15

octal to decimal

In [3]:
c=0o123
print(c)

83

In [4]:
d=0b123
print(d)

SyntaxError: invalid digit '2' in binary literal (<ipython-input-4-3375cd6c5260>, line 1)

hexadecimal to decimal

In [5]:
e=0XAB
print(e)

171

octal convertor

In [7]:
print (oct(10))
print(oct(0b1111))
print(oct(0x123))

0o12
0o17
0o443

binary conversion

In [8]:
print (bin(15))
print (bin(0o11))
print (bin(0x10))

0b1111
0b1001
0b10000

In [ ]:
hexadecimal conversion

In [10]:
print(hex(100))
print(hex(0B1111))
print(hex(0o1234))

0x64
0xf
0x29c

**Float**

In [12]:
x=36e3
print(x)
print(type(x))
y=5E3
print(y)
print(type(y))

36000.0
<class 'float'>
5000.0
<class 'float'>

# 3.Sequence type : 
**list, tuple,range**

**1. List**
-to store multiple items in single variable
-ordered,**changable**,allows duplicate values
-list items are indexed
-square brackets are used

In [14]:
l1=["apple", "banana", "cherry"]
print(l1)
print(type(l1))
print(l1[1])

l2=[1,6,7,9,3,2,3,6,7]
print(l2)
print(type(l2))

l3=["apple",3,3.5,"xyz"]
print(l3)

['apple', 'banana', 'cherry']
<class 'list'>
banana
[1, 6, 7, 9, 3, 2, 3, 6, 7]
<class 'list'>
['apple', 3, 3.5, 'xyz']

In [17]:
l1=["apple", "banana", "cherry"]
print(l1)
print(type(l1))
print(l1[1])
l1[1]="strawberry"
print(l1)

['apple', 'banana', 'cherry']
<class 'list'>
banana
['apple', 'strawberry', 'cherry']

**2. Tuple**: 
-to store multiple items in single variable
-ordered,**Unchangable**,allows duplicate values
-list items are indexed
-round brackets are used

In [36]:
d=10,20,30
print(type(d))

<class 'tuple'>

In [20]:
t1=("apple", "banana", "cherry")
print(t1)
print(type(t1))
print(t1[1])
t1[1]="strawberry"
print(t1)

('apple', 'banana', 'cherry')
<class 'tuple'>
banana

TypeError: 'tuple' object does not support item assignment

**3. Range** :
It gives numbers from 0 to x-1
-range(5) : 5 is considered as end point and 0 is by default the start point. it will print numbers from 0 to 5
-range(1,5) : 1 is start point and 5 is end point, it will print 1,2,3,4
-range(1,10,2) : 1-start, 10-end, 2-step
It will print 1,3,5,7,9

In [21]:
x=range(4)
print(x)
print(type(x))

range(0, 4)
<class 'range'>

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(-10,2):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1

# 4. Mapping Type

**Dict**
-stores data value in key:value pair
-ordered, changable and doesn't allow duplicates
-written with curly brackets
-keys cannot be reated but values can be

In [29]:
d={10:'lucky', 20:'arman',30:'dhairya'}
print(d)
print(type(d))
print(d[10])
d[10]="arman"
print(d)

{10: 'lucky', 20: 'arman', 30: 'dhairya'}
<class 'dict'>
lucky
{10: 'arman', 20: 'arman', 30: 'dhairya'}

In [30]:
d={10:'lucky', 20:'arman',30:'dhairya',10:'arman'}
print(d)
print(type(d))
print(d[10])

{10: 'arman', 20: 'arman', 30: 'dhairya'}
<class 'dict'>
arman

considers the last,latest value if the key is same

# 5. Set Type

-used to store multiple items in a single variable
-unordered, unidexed
-unchangable and doesn't allow duplicate values
-written with curly brackets

In [31]:
s1={"apple","banana","cherry","banana"}
print(s1)
print(type(s1))

s2={1,2,2,3,3,3,4,5,5}
print(s2)

{'banana', 'cherry', 'apple'}
<class 'set'>
{1, 2, 3, 4, 5}

# 6.Boolean Type

**bool**
-represents true or false

-any string is true except empty string
-any number is true except 0
-any list,tuple,set,dict are true except empty ones
-space is also considered as a character so it gives true

In [33]:
print(10>8)
print(10==8)
print(10<8)

True
False
False

In [35]:
print(bool("abc"))
print(bool(""))
print(bool(123))
print(bool([1,2,3,4]))
print(bool(0))
print(bool(" "))

True
False
True
True
False
True

# Global vs Local variable

In [42]:
a="Python" #global 
def test() : 
    a="Java" #local
    print(a)
    
test()
print(a)

Java
Python

here a="Python" is global variable
a=Java is local varibale as it is declared inside a function

In [38]:
a="Python"
def test() :
    global a
    a="Java"
    print(a)
    
test()
print(a)

Java
Java

if we declare a variable inside a function as 'global a' then it becomes a global variable

In [39]:
a="Python"
def test() :
    global a
    a="Java"
    print(a)
    
print(a)
test()
print(a)

Python
Java
Java

Before the function is called the globle variable is the one declared outside the function
and after calling the func, it will print the global variable declared inside the func

**-->Reading/Taking input from user**
data type of input is by default string

In [45]:
user=input("enter username : ")
print("Username is : ",user)
print(type(user))

enter username : 100
Username is :  100
<class 'str'>

In [47]:
a=int(input("Enter num1 : ")) #typecasting :to convert string to int
b=int(input("enter num2 : "))
c=a+b
print(c)

Enter num1 : 10
enter num2 : 20
30