# Unit-4 : Immutable data structure

String and Tuple are immutable

1. String
s="Naveena"                                                                                                          

How to access string :                                                                                                      
1. By using index
print(s[2]) : positive index starts from 0 and from left side                                                               
print(s[-5]) : negative index starts from -1 and from right side                                                          
                                                                                                                    
2. By using slicing operator                                                                                        
 Syntax :                                                                                                            
 s[begin index : end index : step]

In [1]:
# 1. By using index
s="naveena"
print(s[2])
print(s[-5])
print(s[9])

v
v

In [2]:
s="naveena"
print(s[9])

IndexError: string index out of range

In [3]:
# slicing operator                                                                                                  
p="Learning python is very easy"
print(p[1:7:1])

earnin

In [4]:
p="Learning python is very easy"
print(p[::-1])

ysae yrev si nohtyp gninraeL

In [5]:
p="Learning python is very easy"
print(p[:-1:])

Learning python is very eas

In [ ]:
s=input("Enter a string : ")
def palindrome(s):
    n=s[::-1]
    if n==s:
        print("It is palindrome")
    else:
        print("Not a palindrome")

Enter a string : malayalam

In [6]:
# String comparision
s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
if s1==s2:
    print("Both string are same")
elif s1<s2:
    print("second string is bigger")
else:
    print("first string is bigger")

Enter string 1 : naveena
Enter string 2 : ria
second string is bigger

**Joining of string**                                                                                                
Syntax : s='seperator'.join(group of string)                                                                                
list or tuple can be passed in group of string

In [8]:
t=("ABC","PQR","XYZ")
s='-'.join(t)
print(s)

ABC-PQR-XYZ

**Formatting of string**

In [9]:
name="naveena"
salary="25000"
age=18
print("{}'s salary is {} and her age is {}".format(name, salary, age))
print("{0}'s salary is {1} and her age is {2}".format(name, salary, age))
print("{1}'s salary is {1} and her age is {2}".format(name, salary, age))

naveena's salary is 25000 and her age is 18
naveena's salary is 25000 and her age is 18
25000's salary is 25000 and her age is 18

**Important functions of string**

In [12]:
# 1. length
a="Ljiet"
print(len(a))
# 2. removing spaces rstrip (right), lstrip(left) , strip(left & right both)
b=" banana   "
print(len(b))
x=b.rstrip()
print(x)
print(len(x))
y=b.lstrip()
print(y)
print(len(y))
z=b.strip()
print(z)=
print(len(z))

5
10
 banana
7
banana
9
banana
6

In [13]:
c="banana"
x=c.rstrip("a")
y=c.rstrip("na")
print(x)
print(y)

banan
b

In [14]:
c="banana"
x=c.lstrip("a")
y=c.lstrip("na")
print(x)
print(y)

banana
banana

In [15]:
c="banana"
x=c.strip("a")
y=c.strip("na")
print(x)
print(y)

banan
b

**Changing the case of string**

In [22]:
a="How are YoU"
print(a.upper())
print(a.lower())
# swapcase : changes upper to lower and lower to upper
print(a.swapcase())
# title : changes first letter of evry word in sentence to uppercase and rest to lower case
print(a.title())
# capitalize : only changes first letter of first word of string to uppercase and rest of the string to lowercase
print(a.capitalize())

HOW ARE YOU
how are you
hOW ARE yOu
How Are You
How are you

**To check the types of characters present in the string** (answers only in True or False)                                 
1. isalnum() :(a to z , A to Z, 0 to 9) returns true if all characters are AlphaNumeric
2. isalpha(): (a to z , A to Z)
3. isdigit() : (0 to 9) or isnumeric() : (0 to 9 , roman numbers, fraction)
4. islower(): returns True when the whole string is in lower case (doesn't checks num or spl char)
5. isupper(): returns True when the whole string is in upper case (doesn't checks num or spl char)
6. istitle(): returns True only when the first digit of evry word in the string is capital(doesn't checks num or spl char)
7. isidentifier() 
8. isspace()

In [37]:
t="company123"
print(t.isalnum())
print(t.isalpha())
print(t.isdigit())
print(t.islower())
print(t.isupper())

True
False
False
True
False

In [25]:
t="company 123"
print(t.isalnum())

False

In [26]:
t="company#123"
print(t.isalnum())

False

In [30]:
t="companyX"
print(t.isalpha())
print(t.isalnum())

True
True

In [28]:
t="company123"
print(t.isalpha())

False

In [32]:
t="54321"
print(t.isdigit())

True

In [39]:
t="COMPANY"
print(t.isupper())
t1="Company"
print(t1.isupper())

True
False

In [40]:
a="HOW ARE YOU"
b="Hello"
c="22 Names"
d="This Is %"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [42]:
a="MyName"
b="Demo 2"
c="2xyz"
d="my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
False
False

In [47]:
t="   "
print(t.isspace())

True

In [50]:
t="how are you"
spaces=0
for i in t:
    if i.isspace():
        spaces+=spaces
    else:
        space=0
print(spaces)

0

**1. wap to create a string made of first middle and last character**

In [57]:
s=input("Enter a string : ")
a=len(s)
if a%2!=0:
    print(s[0])
    t=int(a/2)
    print(s[t])
    print(s[-1])
else:
    print("wrong input")

Enter a string : james
j
m
s